// Primary color
$cyan: #2acfcf;
$purple: #3b3054;
$red: #f46262;
$black: #000000;
$white: #ffffff;

// Secondary color
$gray: #bfbfbf;
$grayish: #f0f1f6;
$silver: #9e9aa7;
$dark-blue: #35323e;
$dark-purple: #232127;

// Font
$poppins-family: "Poppins", sans-serif;
$body-size: 18px;

// Device size
$tablet: 1199px;
$mobile: 767px;
